//Home Page Banner
.flex__cover{
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  min-height: 500px;
}

.box__cover{
  position: relative; 
  background: url(../img/leaf.jpg) no-repeat center center scroll; 
  background-size: cover;
  background-position: center;
}

.cover--half{
  position: relative; 
  background: url(../img/corn.jpg) no-repeat center center scroll; 
  background-size: cover;
  background-position: center;
}

.cover--side{
  position: relative; 
  background: url(../img/pumpkin.jpg) no-repeat center center scroll; 
  background-size: cover;
  background-position: center;
  // min-height: 315px;
}

//About Page Banner

.box__cover--about{
  position: relative; 
  background: url(../img/hat.jpg) no-repeat center center scroll; 
  background-size: cover;
  background-position: center;
}


//Dashboard Page  Banner
.flex__cover--half{
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  min-height: 215px;
}

.box__cover--half{
  position: relative; 
  background: url(../img/library.jpg) no-repeat center center scroll;    
  background-size: cover;
  background-position: center;
}

//Banner Helpers
.black-overlay{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 23, 33, 0.7);
  display: block;
  /*z-index: 0;*/
}

.pre-overlay{
  position: relative;
  z-index: 1;
}


.flex__cover--etd{
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  min-height: 415px;
}

