.box{
	min-height: 415px;
	padding: 140px 50px 0px 50px;
}

.box--2{
	min-height: 433px;
}

.box--img--left{
	position: relative; 
  background: url(../img/pumpkin.jpg) no-repeat center center scroll; 
  background-size: cover;
  background-position: center;
}

.box--img--right{
	position: relative; 
  background: url(../img/pump.jpg) no-repeat center center scroll; 
  background-size: cover;
  background-position: center;
}


.box{
  min-height: 415px;
}


// ETD Styling
.box--2{
	min-height: 415px;
	padding: 100px 50px 0px 50px;
}

.box--img--left--2{
	position: relative; 
  background: url(../img/oldpost.jpg) no-repeat center center scroll; 
  background-size: cover;
  background-position: center;
}

.box--img--right--2{
	position: relative; 
  background: url(../img/planning.jpg) no-repeat center center scroll; 
  background-size: cover;
  background-position: center;
}
