.black{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: block;
    /*z-index: 0;*/
  }

  .img-border--thick{
    border: 5px solid #fff; 
    text-align: center; 
    max-width: 100%; 
    height: auto;
  }

  .box{
    background-color: blue;
    width: 100px;
    height: 100px;
    float: right;
  }