  .object--center{
    display: auto;
    margin: auto;
  }

  .bg__color--light-gray{
    background-color: $light-gray
  }

//Padding Helpers
  .padding-left{
    padding-left: 0px;
  }

  .padding-top{
    padding-top: 15px;
  }

//Page Helpers
  .main--helper{
    min-height: calc(100vh - 130px);
  }

//Icon Helpers
 .big-icon {
    font-size: 32px;
}

.med-icon{
  font-size: 22px;
}

.margin-icon{
  margin-right: 10px;
}

//Clear Helpers
.clear--left{
  clear: left;
}

.clear-right{
  clear: right;
}