.meta-logo{
  width: 10%; 
  margin: auto; 
  margin-bottom: 20px; 
  margin-top: 0px; 
  display: block;
}

.image--center{
  margin: auto;
  display: block;
}

.img-border--thick{
  border: 5px solid #fff; 
  text-align: center; 
  max-width: 100%; 
  height: auto;
}