  .type--white{
    color: #fff;
  }

  .type--light{
  	font-weight: 300;
  }

  .type--gold{
  	color: #fdbf56;
  }

  .hyphens{
  	hyphens: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }